<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#GENERAL-CODE" data-toc-modified-id="GENERAL-CODE-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>GENERAL CODE</a></span><ul class="toc-item"><li><span><a href="#Loops-and-statements" data-toc-modified-id="Loops-and-statements-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Loops and statements</a></span></li><li><span><a href="#Creating-subfolder-if-do-not-exist" data-toc-modified-id="Creating-subfolder-if-do-not-exist-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Creating subfolder if do not exist</a></span></li><li><span><a href="#Creating-a-CVS-(recap)-file-if-do-not-exists" data-toc-modified-id="Creating-a-CVS-(recap)-file-if-do-not-exists-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Creating a CVS (recap) file if do not exists</a></span></li><li><span><a href="#Creating-a-config-file" data-toc-modified-id="Creating-a-config-file-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Creating a config file</a></span></li><li><span><a href="#Creating-a-CLI-parser-with-Argparse" data-toc-modified-id="Creating-a-CLI-parser-with-Argparse-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Creating a CLI parser with Argparse</a></span></li></ul></li><li><span><a href="#PANDAS" data-toc-modified-id="PANDAS-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>PANDAS</a></span><ul class="toc-item"><li><span><a href="#Creating-a-dataframe" data-toc-modified-id="Creating-a-dataframe-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Creating a dataframe</a></span></li><li><span><a href="#Creating--Pandas-column-with-values-in-a-given-range" data-toc-modified-id="Creating--Pandas-column-with-values-in-a-given-range-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Creating  Pandas column with values in a given range</a></span></li><li><span><a href="#Generalizing-string-values" data-toc-modified-id="Generalizing-string-values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Generalizing string values</a></span></li><li><span><a href="#Merging-dtaframes" data-toc-modified-id="Merging-dtaframes-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Merging dtaframes</a></span></li><li><span><a href="#Melting-columns" data-toc-modified-id="Melting-columns-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Melting columns</a></span></li><li><span><a href="#Transposing-a-dataframe" data-toc-modified-id="Transposing-a-dataframe-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Transposing a dataframe</a></span></li><li><span><a href="#Droping-NaNs-in-one-specific-column" data-toc-modified-id="Droping-NaNs-in-one-specific-column-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Droping NaNs in one specific column</a></span></li><li><span><a href="#How-many-values-present-themself-in-a-specific-column-more-than-twice?" data-toc-modified-id="How-many-values-present-themself-in-a-specific-column-more-than-twice?-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>How many values present themself in a specific column more than twice?</a></span></li><li><span><a href="#Creating-a-column-'Month',-extracting-the-months-from-a-'date'-existing-column,-and-directly-appending-it-to-an-existing-dataframe" data-toc-modified-id="Creating-a-column-'Month',-extracting-the-months-from-a-'date'-existing-column,-and-directly-appending-it-to-an-existing-dataframe-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Creating a column 'Month', extracting the months from a 'date' existing column, and directly appending it to an existing dataframe</a></span></li><li><span><a href="#Calculating-mean-values-and-sorting-for-values.-Counting-values-and-sorting-for-index" data-toc-modified-id="Calculating-mean-values-and-sorting-for-values.-Counting-values-and-sorting-for-index-2.10"><span class="toc-item-num">2.10&nbsp;&nbsp;</span>Calculating mean values and sorting for values. Counting values and sorting for index</a></span></li><li><span><a href="#Filtering,-sorting-and-grouping" data-toc-modified-id="Filtering,-sorting-and-grouping-2.11"><span class="toc-item-num">2.11&nbsp;&nbsp;</span>Filtering, sorting and grouping</a></span></li><li><span><a href="#Calculating-mean-and-standard-deviation-and-cleaning-data" data-toc-modified-id="Calculating-mean-and-standard-deviation-and-cleaning-data-2.12"><span class="toc-item-num">2.12&nbsp;&nbsp;</span>Calculating mean and standard deviation and cleaning data</a></span></li><li><span><a href="#Select-rows-and-columns-for-specific-values-with-'loc()'-and-'iloc()'" data-toc-modified-id="Select-rows-and-columns-for-specific-values-with-'loc()'-and-'iloc()'-2.13"><span class="toc-item-num">2.13&nbsp;&nbsp;</span>Select rows and columns for specific values with 'loc()' and 'iloc()'</a></span></li><li><span><a href="#Add-values-in-a-new-column-based-on-a-treshold-in-an-existing-column" data-toc-modified-id="Add-values-in-a-new-column-based-on-a-treshold-in-an-existing-column-2.14"><span class="toc-item-num">2.14&nbsp;&nbsp;</span>Add values in a new column based on a treshold in an existing column</a></span></li></ul></li><li><span><a href="#SEABORN" data-toc-modified-id="SEABORN-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>SEABORN</a></span><ul class="toc-item"><li><span><a href="#Histogramn-with-vertical-lines-displayed" data-toc-modified-id="Histogramn-with-vertical-lines-displayed-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Histogramn with vertical lines displayed</a></span></li><li><span><a href="#Regression-line" data-toc-modified-id="Regression-line-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Regression line</a></span></li></ul></li><li><span><a href="#HOW-TO-ACCESS-GOOGLE-SHEETS-ON-GOOGLE-COLABORATORY" data-toc-modified-id="HOW-TO-ACCESS-GOOGLE-SHEETS-ON-GOOGLE-COLABORATORY-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>HOW TO ACCESS GOOGLE SHEETS ON GOOGLE COLABORATORY</a></span></li></ul></div>

# GENERAL CODE

## Loops and statements

If you are already familiar with Python, you have studied loops and statements, for sure. If you think you already know them pretty good, I advice you to look at this article and try som exercices.
This article is evenfor beginners, so if you have never seen a Python loopis a good moment to begin.

Here is the article:

https://towardsdatascience.com/loops-and-statements-in-python-a-deep-understanding-with-examples-2099fc6e37d7

## Creating subfolder if do not exist

In [ ]:
import os

#creating subfolders
for dirname in ['fold_1', 'fold_2', 'fold_3']: #defining the subfolder names
    if not os.path.exists(dirname):#if folders do not exist
        os.makedirs(dirname) #I create them

## Creating a CVS (recap) file if do not exists

In [ ]:
import os
import csv

if not os.path.exists('recap.csv'):#if recap do not exist
    recap = open('recap.csv', 'w', newline='') #I create it
    writer = csv.writer(recap)
    writer.writerow(['name', 'type']) #writing the header of the csv ('w')
else:
    recap = open('recap.csv', 'a', newline='') #if exists, I open it with'a' to append infos
    writer = csv.writer(recap)

## Creating a config file

In [ ]:
import configparser

#creating configuration file
conf = configparser.ConfigParser()

#defining the info to append in the config file
conf["data_directory"] = {}
conf["data_directory"]["data_dir"] = "C:\\Users\\Desktop\\..." #my data directory

#creating the config file
with open("configfile.ini", "w") as confile:
    conf.write(confile)

more to read (with a practical example) here:

https://medium.com/mlearning-ai/how-and-why-creating-configurations-files-in-your-data-science-projects-1821b89cf47b

## Creating a CLI parser with Argparse

In [ ]:
import argparse

#creating parser
parser = argparse.ArgumentParser()

#specifying the arguments that has to be insert (as string, in this specific case)
parser.add_argument('my_argument', type=str, help='this parser is useful to...') 

#parsing and controlling the arguments
args = parser.parse_args()

more to read (with a practical example) here:

https://medium.com/mlearning-ai/how-argparse-can-be-useful-in-your-data-science-projects-ecf02bef3b07

# PANDAS

## Creating a dataframe

In [1]:
import pandas as pd

#initializing values
data = {'Year':[2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,],
          'Time':[20, 21, 19, 18,
                  20, 23, 19, 18,
                  21, 22, 21, 20]
}

#creating dataframe
df = pd.DataFrame(data)

#showing head
df.head()

   Year  Time
0  2018    20
1  2019    21
2  2020    19
3  2021    18
4  2018    20

## Creating  Pandas column with values in a given range

In [5]:
#defininf values
years = pd.Series(range(1,150), dtype="Int64") #I want just integers

#showing column values
years.head()

0    1
1    2
2    3
3    4
4    5
dtype: Int64

## Generalizing string values

In [24]:
import pandas as pd

#initializing values
data  = {'animals': ['dog', 'cat', 'pig', 'dog', 'cat']}

#creating dataframe
df = pd.DataFrame(data)

#adding new column with generalized values
df['new'] = [f'animal_{i+1}' for i in pd.factorize(df['animals'])[0]]

#showing head
df.head()

  animals       new
0     dog  animal_1
1     cat  animal_2
2     pig  animal_3
3     dog  animal_1
4     cat  animal_2

## Merging dtaframes

In [9]:
#initializing values
data_1 = {'Year':[2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,]
}

data_2 = {'Time':[20, 21, 19, 18,
                  20, 23, 19, 18,
                  21, 22, 21, 20]
}

#creating dataframes
df_1 = pd.DataFrame(data_1)
df_2 = pd.DataFrame(data_2)

#merging df1 and df2 to create a unique dataframe
df = pd.merge(df_1,df_2, left_index=True, right_index=True)

#showing head
df.head()

   Year  Time
0  2018    20
1  2019    21
2  2020    19
3  2021    18
4  2018    20

## Melting columns

In [2]:
import pandas as pd

#initializing values
data = {'Year':[2018, 2019, 2020, 2021],
          'val1':[20, 21, 19, 18],
          'val2':[20, 23, 19, 18],
          'val3':[21, 22, 21, 20]
}

#creating dataframe
df = pd.DataFrame(data)

#melting
df_m = pd.melt(df, id_vars='Year', value_vars=['val1', 'val2', 'val3'],
               var_name='the melted variables',
               value_name='value of the variables')

#showing
df_m.head()

   Year the melted variables  value of the variables
0  2018                 val1                      20
1  2019                 val1                      21
2  2020                 val1                      19
3  2021                 val1                      18
4  2018                 val2                      20

## Transposing a dataframe

In [3]:
import pandas as pd

#initializing values
data = {'Year':[2018, 2019, 2020, 2021]}

#creating dataframe
df = pd.DataFrame(data)

#trasposing
df_trans = df.transpose() #or 'df.T'

#creating column names
df_trans.columns = df_trans.iloc[0] 
df_trans = df_trans.iloc[1:]

#showing
df_trans.head()

Empty DataFrame
Columns: [2018, 2019, 2020, 2021]
Index: []

## Droping NaNs in one specific column

In [ ]:
#dropping rows with all 'Nans' in 'My_column' column from the dta frame 'df'
df.dropna(axis=0, how='all', subset=['My_column'], inplace=True)

## How many values present themself in a specific column more than twice?

In [2]:
import pandas as pd

#initializing values
data = {'Year':[2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2017]
}

#creating dataframe
df = pd.DataFrame(data)

#values that present themself more than twice in the Years column
df['Year'].value_counts().loc[lambda x:x>2]

2018    3
2019    3
2020    3
Name: Year, dtype: int64

## Creating a column 'Month', extracting the months from a 'date' existing column, and directly appending it to an existing dataframe

In [ ]:
import pandas as pd

df['month'] = pd.DatetimeIndex(df['date']).month

## Calculating mean values and sorting for values. Counting values and sorting for index

In [2]:
import pandas as pd

# initializing values
data = {'Name':['Tom', 'Jack', 'Nick', 'John',
                'Tom', 'Jack', 'Nick', 'John',
                'Tom', 'Jack', 'Nick', 'John',],
        'Time':[20, 21, 19, 18,
                20, 100, 19, 18,
                21, 22, 21, 20]
}

#creating dataframe
df = pd.DataFrame(data)

#calculating mean values and sorting for 'Name'
b = df.sort_values('Name').groupby('Name').mean()

#counting single values in 'Time' and sorting for index
c = df['Time'].value_counts().sort_index()

In [5]:
b

           Time
Name
Jack  47.666667
John  18.666667
Nick  19.666667
Tom   20.333333

In [6]:
c

18     2
19     2
20     3
21     3
22     1
100    1
Name: Time, dtype: int64

## Filtering, sorting and grouping

In [10]:
import pandas as pd

# initializing values
data = {'Name':['Tom', 'Jack', 'Nick', 'John',
                'Tom', 'Jack', 'Nick', 'John',
                'Tom', 'Jack', 'Nick', 'John',],
        'Time':[20, 21, 19, 18,
                20, 100, 19, 18,
                21, 22, 21, 20]
}

#creating dataframe
df = pd.DataFrame(data)

#filtering for 'Name' and 'Time', sorting for Name, gropuping for Time
filtered = df.filter(['Name', 'Time']).sort_values('Name').groupby('Time')

#showing head
filtered.head()

    Name  Time
1   Jack    21
5   Jack   100
9   Jack    22
3   John    18
7   John    18
11  John    20
2   Nick    19
6   Nick    19
10  Nick    21
0    Tom    20
4    Tom    20
8    Tom    21

## Calculating mean and standard deviation and cleaning data

In [1]:
import pandas as pd

# initializing values
data = {'Name':['Tom', 'Jack', 'Nick', 'John',
                'Tom', 'Jack', 'Nick', 'John',
                'Tom', 'Jack', 'Nick', 'John',],
        'Time':[20, 21, 19, 18,
                20, 17, 19, 18,
                21, 22, 21, 20]
}

#creating dataframe
df = pd.DataFrame(data)

#showing dataframe
df

    Name  Time
0    Tom    20
1   Jack    21
2   Nick    19
3   John    18
4    Tom    20
5   Jack    17
6   Nick    19
7   John    18
8    Tom    21
9   Jack    22
10  Nick    21
11  John    20

In [2]:
#calculating mean and standard deviation of the column 'Time'
mean = df['Time'].mean() #mean
sd = df['Time'].std() #standard deviation

#cleaning 'Time' column in the interval (mean-sd; mean+sd)
time_cleaned = df[(df['Time'] > (mean-sd)) & (df['Time'] < (mean+sd))]

#showing cleaned dataframe
time_cleaned

    Name  Time
0    Tom    20
1   Jack    21
2   Nick    19
4    Tom    20
6   Nick    19
8    Tom    21
10  Nick    21
11  John    20

Note that the primary purpose of the above code is just to show how to filter a column in a given range.

Filtering in the interval (mean-sd; mean+sd) is typycal of normal distribute data, which probably is not the case of the above data; anyway, sometimes it is a good idea to filter data in the (mean-sd; mean+sd) interval even if data are not normally distributed (or if we do no know how ae distributed) and we can do it just for deleting the 'too high' and 'too low' values for calculate later the mean value of the data (which will not be effected by the 'too high' and the 'too low' values).

## Select rows and columns for specific values with 'loc()' and 'iloc()'

In [5]:
import pandas as pd
 
# initialize data of lists.
data = {'Time':[10, 11, 12, 10,
               10, 11, 12, 12,
               11, 12, 10, 9,],
        'Age':[20, 21, 19, 18,
               20, 23, 19, 18,
               21, 22, 21, 20]
}
 
# Create DataFrame
df = pd.DataFrame(data)

In [6]:
#loc
df.loc[df['Time'] == 10] #all the values with Time=10 with respective Age values

    Time  Age
0     10   20
3     10   18
4     10   20
10    10   21

In [7]:
#iloc 
df.iloc[df['Time'][0]] #selects first value in 'Time' and gives the corrispective in 'Age'

Time    10
Age     21
Name: 10, dtype: int64

In [8]:
#calculating max time
t_max = df['Time'].max()

#selecting all the rows associated to the max time
df.loc[df['Time'] == t_max]

   Time  Age
2    12   19
6    12   19
7    12   18
9    12   22

## Add values in a new column based on a treshold in an existing column

In [5]:
import pandas as pd

#initializing values
data = {'Year':[2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,
                2018, 2019, 2020, 2021,],
          'Time':[20, 21, 19, 18,
                  20, 23, 19, 18,
                  21, 22, 21, 20]
}

#creating dataframe
df = pd.DataFrame(data)

#showing df
df

    Year  Time
0   2018    20
1   2019    21
2   2020    19
3   2021    18
4   2018    20
5   2019    23
6   2020    19
7   2021    18
8   2018    21
9   2019    22
10  2020    21
11  2021    20

Now, I define a treshold.  For all the values bigger than the treshold, the following code will assign the value 1 in a new column (called 'new'). For values lower than the treshold, it will assign the value 0. It is a way to prepare the data for a classification problem in Machine Learning

In [6]:
#defining the treshold value
threshold = 19

#creating a new column and appending 1 or 0 based on the treshold values in the 'Time' column
df['new'] = df['Time'].gt(threshold).astype(int)

#showing df
df

    Year  Time  new
0   2018    20    1
1   2019    21    1
2   2020    19    0
3   2021    18    0
4   2018    20    1
5   2019    23    1
6   2020    19    0
7   2021    18    0
8   2018    21    1
9   2019    22    1
10  2020    21    1
11  2021    20    1

# SEABORN

## Histogramn with vertical lines displayed

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

# figure size in inches
plt.rcParams['figure.figsize'] = 30, 20

#font scale
sns.set(font_scale=2)

#plotting the frequences of df
sns.histplot(data=df, x="my_variable", binwidth=30, color='red')

#adding vertical lines
plt.axvline(x=mean, color="blue") #vertical line to the mean value
plt.axvline(x=maxs, color="green") #vertical line to the max value

#vertical lines legend
blu_line = mpatches.Patch(color="blue", label=f"the mean value is: {mean:.1f} [s]")
green_line = mpatches.Patch(color="green", label=f"{fac*100:.0f}% of the mean value: {maxs:.1f} [s]")
plt.legend(handles=[blu_line, green_line], prop={"size":25}) #handling the legend.("prop={"size":20}" is for fontsize)

#title and axis labels
plt.title(f"MY TITLE", fontsize=25) #plot TITLE
plt.xlabel("MY X-AXIS LABEL", fontsize=20) #x-axis label
plt.ylabel("MY Y-AXIS LABEL", fontsize=20) #y-axis label

#showing grid
plt.grid(True, color="grey", linewidth="1.4", linestyle="-.") 

#saving image
os.chdir(data_dir) #if needed...if not, remove it
plt.savefig(f"THE_NAME_OF_MY_FILE.png")#saving image

#open and see the saved image in a new window
im = Image.open(os.path.join(data_dir, "THE_NAME_OF_MY_FILE.png"))
im.show()

## Regression line

In [ ]:
#plotting the time series analysis with a red regression line
sns.regplot(data=phase3, x="my_x_variable", y="my_y_variable"", line_kws={"color": "red"})

# HOW TO ACCESS GOOGLE SHEETS ON GOOGLE COLABORATORY

If you use Google Colaboratory and have some data in Google Sheets, it can be very interesting to access your Google Sheets' file directly in Colaboratory. To do ite, you can read my medium article on this topic:

https://medium.com/mlearning-ai/how-to-access-google-sheets-on-google-colaboratory-8766b3a0996f